<style media="screen">

  .row{ margin-top: 5%}
  .btn .card-block{ width: 100%; }
  .card-block{ color: #fff; padding: 0% 4% 0% 4%; width: 100%; margin-bottom: 3%}
  .card-block #card-icon { font-size: 25px;}
  .card-block #card-text{ font-size: 11px; font-weight: bold;}
  .card-block .head{ padding: 10% }
  .col-xs-4{ padding: 0 1% 0 2%;}
  #divider{ border-top: 1px solid #E0E0E0; margin-top: 3%}

  .dash-view .dash-head{ padding-bottom: 2%}
</style>


<div class="container">

  <div class="row">

    <div class="col-xs-4">
      <div class="btn card-block mdl-shadow--4dp mdl-color--red-500">
        <div class="head">
          <center><span id="card-icon"><i class="fa fa-users" aria-hidden="true"></i></span></center>
          <span id="card-text">Classmates (20)</span>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="btn card-block mdl-shadow--4dp mdl-color--cyan-500">
        <div class="head">
          <center><span id="card-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span></center>
          <center><span id="card-text">Check Daily</span></center>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="btn card-block mdl-shadow--4dp mdl-color--blue-500">
        <div class="head">
          <center><span id="card-icon"><i class="fa fa-calendar" aria-hidden="true"></i></span></center>
          <span id="card-text">Check Monthly</span>
        </div>
      </div>
    </div>

  </div>

  <div id="divider"></div>

  <div class="dash-view main-view">
    <div class="dash-head page-header">
      <h5>Attendance For : <strong>April</strong></h5>
    </div>
    <div class="dash-body">
      <div class="row">

        <div class="col-md-6">
          <table class="table table-hover">
            <caption><strong>Theory Attendance</strong></caption>
            <thead>
              <td><b>#</b></td>
              <td><b>Subject Name</b></td>
              <td><b>Attended</b></td>
              <td><b>Total</b></td>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>DAA</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>1</td>
                <td>DAA</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>1</td>
                <td>DAA</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>1</td>
                <td>DAA</td>
                <td>5</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <table class="table table-hover">
            <caption><strong>Lab Attendance</strong></caption>
            <thead>
              <td><b>#</b></td>
              <td><b>Subject Name</b></td>
              <td><b>Attended</b></td>
              <td><b>Total</b></td>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>DAA</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>1</td>
                <td>DAA</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>1</td>
                <td>DAA</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>1</td>
                <td>DAA</td>
                <td>5</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div class="dash-view classmate-view">

  </div>

  <div class="dash-view daily-view">

  </div>

  <div class="dash-view monthly-view">

  </div>

</div>
