<style media="screen">

  .main-tabs{ padding: 5% 0 5% 0; border-bottom: 1px solid #546E7A;}
  .btn .card-block{ width: 100%; }
  .card-block{ color: #fff; padding: 0% 4% 0% 4%; width: 100%; margin-bottom: 3%}
  .card-block #card-icon { font-size: 20px;}
  .card-block #card-text{ font-size: 9px; font-weight: bold;}
  .card-block .head{ padding: 10% }
  .col-xs-3{ padding: 0 1% 0 2%;}
  #divider{ border-top: 1px solid #546E7A; margin-top: 2%}

  .dash-view{ margin-top: 10%}
  .main-view .dash-head h5{ margin-bottom: 0%; padding-bottom: 1%; color: #eeeeee}
  .main-view .dash-body .row{ margin-top: 2%}

  .percent-block{ margin-top: 10% !important; margin-bottom: 3% !important; }
  .percent-block .percent-text h3{ margin-bottom: 2%; color: #eeeeee}
  .percent-block .percent-text small{ font-size: 12px; color: #9e9e9e;}

  .progressbar-wrapper{ position:relative; font-size:17px; width: 100%; height: 100%; color: #eeeeee }
  .progressbar-percent{ position: absolute; width: 100%; text-align: center !important; top: 40% }

  .month-dropdown{ width: 430% }
  .month-dropdown .row{ margin: 2% }
  .month-dropdown .row a{ text-decoration: none;}

  .table{ color: white }
  .table{ border-color: #9e9e9e}
  .table caption{ color: #0097A7 }
  .table tr td{ border-top-color: #546E7A !important }
  .table thead{ color: #26C6DA}

  .small-percent{ top:28%; font-size: 12px; margin-left: 18% !important}

  @media screen and (min-width: 1200px){
    .main-tabs{ padding: 2% 0 2% 0; border-bottom: 1px solid #546E7A;}
    .btn .card-block{ width: 100%; }
    .card-block{ color: #fff; padding: 0% 4% 0% 4%; width: 100%; margin-bottom: 3%}
    .card-block #card-icon { font-size: 30px;}
    .card-block #card-text{ font-size: 15px; font-weight: bold;}
    .card-block .head{ padding: 10% }
    .col-xs-3{ padding: 0 1% 0 2%;}
    #divider{ border-top: 1px solid #546E7A; margin-top: 2%}

    .dash-view{ margin-top: 3%}
    .main-view .dash-head h5{ margin-bottom: 0%; padding-bottom: 1%; color: #eeeeee; font-size: 30px}
    .main-view .dash-body .row{ margin-top: 2%}

    .percent-block{ margin-top: 3% !important; }
    .percent-block .percent-text h3{ margin-bottom: 2%; color: #eeeeee}
    .percent-block .percent-text small{ font-size: 12px; color: #9e9e9e;}

    .progressbar-wrapper{ position:relative; font-size:20px; width: 100%; height: 100%; color: #eeeeee }
    .progressbar-percent{ position: absolute; width: 100%; text-align: center !important; top: 40% }

    .month-dropdown{ width: 430% }
    .month-dropdown .row{ margin: 2% }
    .month-dropdown .row a{ text-decoration: none;}

    .table{ color: white }
    .table{ border-color: #9e9e9e}
    .table caption{ color: #bdbdbd }
    .table tr td{ border-top-color: #546E7A !important }

    .small-percent{ top:28%; font-size: 12px; margin-left: 0 !important}
  }

</style>


<div class="row main-tabs">

  <div class="col-xs-4">
    <div class="btn card-block mdl-shadow--4dp mdl-color--red-A700" ng-click="changeView('daily')">
      <div class="head">
        <center><span id="card-icon"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></span></center>
        <center><span id="card-text">Check Daily</span></center>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="btn card-block mdl-shadow--4dp mdl-color--amber-A700" ng-click="changeView('monthly')">
      <div class="head">
        <center><span id="card-icon"><i class="fa fa-calendar" aria-hidden="true"></i></span></center>
        <span id="card-text">Check Monthly</span>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="btn card-block mdl-shadow--4dp mdl-color--indigo-800" ng-click="changeView('overall')">
      <div class="head">
        <center><span id="card-icon"><i class="fa fa-globe" aria-hidden="true"></i></span></center>
        <span id="card-text">Check Overall</span>
      </div>
    </div>
  </div>

</div>

<div class="dash-view main-view" ng-show="showMain">
  <div class="dash-head">
    <center><h5 style="color: #26C6DA">Attendance For : <strong style="color: #fff">{{month}}</strong></h5></center>
  </div>
  <div class="dash-body">
    <div class="row">

      <div class="col-md-6">
        <table class="table">
          <caption><strong>Theory Attendance</strong></caption>
          <thead>
            <td><b>#</b></td>
            <td><b>Subject Name</b></td>
            <td><center><b>Attended</b></center></td>
            <td><center><b>Total</b></center></td>
          </thead>
          <tbody>
            <tr ng-repeat="t in attendance_home[0].att">
              <td>{{$index+1}}</td>
              <td>{{t.details[0].abv[0]}}</td>
              <td><center>{{t.attended}}</center></td>
              <td><center>{{t.total}}</center></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <table class="table">
          <caption><strong>Lab Attendance</strong></caption>
          <thead>
            <td><b>#</b></td>
            <td><b>Subject Name</b></td>
            <td><b><center>Attended</b></center></td>
            <td><center><b>Total</b></center></td>
          </thead>
          <tbody>
            <tr ng-repeat="l in attendance_home[1].att">
              <td>{{$index+1}}</td>
              <td>{{l.details[0].abv[0]}}</td>
              <td><center>{{l.attended}}</center></td>
              <td><center>{{l.total}}</center></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div id="divider"></div>

    <div class="row percent-block">
      <div class="col-xs-6 theory-percent">
        <div class="row">
          <div class="col-md-12">
            <center>
              <div class="progressbar-wrapper">
                <div class="progressbar-percent ng-cloak">
                  <span>Theory</span>
                </div>
                <round-progress
                max=attendance_home[0].total
                current=attendance_home[0].attended
                color="{{ getColor(attendance_home[0].attended, attendance_home[0].total) }}"
                bgolor="#eaeaea"
                radius="45"
                stroke="5"
                rounded="true"
                clockwise="true"
                responsive="responsive"
                duration="800"
                animation="easeInOutQuart"
                animation-delay="0"
                ></round-progress>
              </div>
            </center>
          </div>
          <div class="col-md-12 percent-text">
            <center><h3>{{getPercent(attendance_home[0].attended, attendance_home[0].total)}}%</h3><small>{{getBunk(attendance_home[0].attended, attendance_home[0].total)}}</small></center>
          </div>
        </div>
      </div>
      <div class="col-xs-6 lab-percent">
        <div class="row">
          <div class="col-md-12">
            <center>
              <div class="progressbar-wrapper">
                <div class="progressbar-percent ng-cloak">
                  <span>Lab</span>
                </div>
                <round-progress
                max=attendance_home[1].total
                current=attendance_home[1].attended
                color="{{ getColor(attendance_home[1].attended, attendance_home[1].total) }}"
                bgcolor="#eaeaea"
                radius="45"
                stroke="5"
                rounded="true"
                clockwise="true"
                responsive="responsive"
                duration="800"
                animation="easeInOutQuart"
                animation-delay="0"
                ></round-progress>
              </div>
            </center>
          </div>
          <div class="col-md-12 percent-text">
            <center><h3>{{getPercent(attendance_home[1].attended, attendance_home[1].total)}}%</h3><small>{{getBunk(attendance_home[1].attended, attendance_home[1].total)}}</small></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dash-view daily-view" ng-show="showDaily">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <center>
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default">Select Date</button>
            </div><!-- /btn-group -->
            <input type="text" class="form-control datepicker" style="text-align:center" readonly ng-model="user.check_daily_date" ng-change="getDaily()">
          </div><!-- /input-group -->
        </center>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div id="divider"></div>
  <div class="row" style="margin-top:5%">

    <div class="col-md-6">
      <table class="table">
        <caption><b>Theory Attendance :</b></caption>
        <thead>
          <td><b>#</b></td>
          <td><b>Subject</b></td>
          <td><center><b>Status</b></center></td>
        </thead>
        <tbody>
          <tr ng-repeat="th in dailyAttendance[0]">
            <td>{{$index+1}}</td>
            <td><span data-toggle="tooltip" title={{th.sub_name[0]}} data-placement="right">{{th.abv[0]}}</span></td>
            <td><center><span ng-bind-html=getStatusIcon(th.present,th.absent)></span></center></td>
          </tr>
        </tbody>
      </table>
      <center ng-show="progress"><div class="mdl-spinner mdl-js-spinner is-active"></div></center>
    </div>

    <div class="col-md-6">
      <table class="table">
        <caption><strong>Lab Attendance</strong></caption>
        <thead>
          <td><b>#</b></td>
          <td><b>Subject</b></td>
          <td><center><b>Status</b></center></td>
        </thead>
        <tbody>
          <tr ng-repeat="th in dailyAttendance[1]">
            <td>{{$index+1}}</td>
            <td><span data-toggle="tooltip" title={{th.sub_name[0]}} data-placement="right">{{th.abv[0]}}</span></td>
            <td><center><span ng-bind-html=getStatusIconLab(th.present1,th.present2,th.absent)></span></center></td>
          </tr>
        </tbody>
      </table>
      <center ng-show="progress"><div class="mdl-spinner mdl-js-spinner is-active"></div></center>
    </div>

  </div>
</div>

<div class="dash-view monthly-view" ng-show="showMonthly">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <center>
          <div class="input-group">
            <input type="text" class="form-control" readonly ng-model="month_name" style="text-align:center">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Month <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right month-dropdown">
                <div class="row">
                  <div class="col-xs-4">
                    <li><a href="#" ng-click=attendanceMonthly("01")>January</a></li>
                    <li><a href="#" ng-click=attendanceMonthly("02")>February</a></li>
                    <li><a href="#" ng-click=attendanceMonthly("03")>March</a></li>
                    <li><a href="#" ng-click=attendanceMonthly("04")>April</a></li>
                  </div>
                  <div class="col-xs-4">
                    <li><a href="#" ng-click=attendanceMonthly("05")>May</a></li>
                    <li><a href="#" ng-click=attendanceMonthly("06")>June</a></li>
                    <li><a href="#" ng-click=attendanceMonthly("07")>July</a></li>
                    <li><a href="#" ng-click=attendanceMonthly("08")>August</a></li>
                  </div>
                  <div class="col-xs-4">
                    <li><a href="#" ng-click=attendanceMonthly("09")>September</a></li>
                    <li><a href="#" ng-click=attendanceMonthly("10")>October</a></li>
                    <li><a href="#" ng-click=attendanceMonthly("11")>November</a></li>
                    <li><a href="#" ng-click=attendanceMonthly("12")>December</a></li>
                  </div>
                </div>
              </ul>
            </div><!-- /btn-group -->
          </div><!-- /input-group -->
        </center>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div id="divider"></div>
  <div class="row" style="margin-top:5%">

    <div class="col-md-6">
      <table class="table">
        <caption>
          <div class="row">
            <div class="col-xs-10">
              <div style="margin-top:2%">
                <strong>Theory Attendance <span ng-show="attendance_monthly[0]">({{attendance_monthly[0].attended}}/{{attendance_monthly[0].total}})</span></strong>
              </div>
            </div>
            <div class="col-xs-2">
              <center ng-show="attendance_monthly[0]">
                <div class="progressbar-wrapper">
                  <div class="small-percent progressbar-percent ng-cloak">
                    <span>{{getPercent(attendance_monthly[0].attended, attendance_monthly[0].total)}}%</span>
                  </div>
                  <round-progress
                  max=attendance_monthly[0].total
                  current=attendance_monthly[0].attended
                  color="{{ getColor(attendance_home[0].attended, attendance_home[0].total) }}"
                  bgcolor="#eaeaea"
                  radius="20"
                  stroke="3"
                  rounded="true"
                  clockwise="true"
                  responsive="responsive"
                  duration="800"
                  animation="easeInOutQuart"
                  animation-delay="0"
                  ></round-progress>
                </div>
              </center>
            </div>
          </div>
        </caption>
        <thead>
          <td><b>#</b></td>
          <td><b>Subject</b></td>
          <td><center><b>Attended</b></center></td>
          <td><center><b>Total</b></center></td>
        </thead>
        <tbody>
          <tr ng-repeat="th in attendance_monthly[0].att">
            <td>{{$index+1}}</td>
            <td><span data-toggle="tooltip" title={{th.details[0].name[0]}} data-placement="right">{{th.details[0].abv[0]}}</span></td>
            <td><center>{{th.attended}}</center></td>
            <td><center>{{th.total}}</center></td>
          </tr>
        </tbody>
      </table>
      <center ng-show="progress"><div class="mdl-spinner mdl-js-spinner is-active"></div></center>
    </div>

    <div class="col-md-6">
      <table class="table">
        <caption>
          <div class="row">
            <div class="col-xs-10">
              <div style="margin-top:2%">
                <strong>Lab Attendance <span ng-show="attendance_monthly[1]">({{attendance_monthly[1].attended}}/{{attendance_monthly[1].total}})</span></strong>
              </div>
            </div>
            <div class="col-xs-2">
              <center ng-show="attendance_monthly[1]">
                <div class="progressbar-wrapper" style="top:27%; font-size: 12px">
                  <div class="small-percent progressbar-percent ng-cloak">
                    <span>{{getPercent(attendance_monthly[1].attended, attendance_monthly[1].total)}}%</span>
                  </div>
                  <round-progress
                  max=attendance_monthly[1].total
                  current=attendance_monthly[1].attended
                  color="{{ getColor(attendance_home[1].attended, attendance_home[1].total) }}"
                  bgcolor="#eaeaea"
                  radius="20"
                  stroke="3"
                  rounded="true"
                  clockwise="true"
                  responsive="responsive"
                  duration="800"
                  animation="easeInOutQuart"
                  animation-delay="0"
                  ></round-progress>
                </div>
              </center>
            </div>
          </div>
        </caption>
        <thead>
          <td><b>#</b></td>
          <td><b>Subject</b></td>
          <td><center><b>Attended</b></center></td>
          <td><center><b>Total</b></center></td>
        </thead>
        <tbody>
          <tr ng-repeat="th in attendance_monthly[1].att">
            <td>{{$index+1}}</td>
            <td><span data-toggle="tooltip" title={{th.details[0].name[0]}} data-placement="right">{{th.details[0].abv[0]}}</span></td>
            <td><center>{{th.attended}}</center></td>
            <td><center>{{th.total}}</center></td>
          </tr>
        </tbody>
      </table>
      <center ng-show="progress"><div class="mdl-spinner mdl-js-spinner is-active"></div></center>
    </div>

  </div>

</div>

<div class="dash-view overall-view" ng-show="showOverall">
  <div class="row">
    <div class="col-xs-3 col-md-4"></div>
    <div class="col-xs-12 col-md-4">
      <center>
        <div class="input-group">
          <input type="text" style="text-align: center" class="form-control" ng-model="overall_sem" readonly>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sem <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#" ng-click="getOverall(1)">1</a></li>
              <li><a href="#" ng-click="getOverall(2)">2</a></li>
              <li><a href="#" ng-click="getOverall(3)">3</a></li>
              <li><a href="#" ng-click="getOverall(4)">4</a></li>
              <li><a href="#" ng-click="getOverall(5)">5</a></li>
              <li><a href="#" ng-click="getOverall(6)">6</a></li>
            </ul>
          </div>
        </div>
      </center>
    </div>
    <div class="col-xs-3 col-md-4"></div>
  </div>
  <div id="divider"></div>
  <div class="row" style="margin-top:5%">

    <div class="col-md-6">
      <table class="table">
        <caption>
          <div class="row">
            <div class="col-xs-10">
              <div style="margin-top:2%">
                <strong>Theory Attendance <span ng-show="theory_overall">({{theory_overall_attended}}/{{theory_overall_total}})</span></strong>
              </div>
            </div>
            <div class="col-xs-2">
              <center ng-show="theory_overall">
                <div class="progressbar-wrapper" style="font-size:11px;">
                  <div class="small-percent progressbar-percent ng-cloak">
                    <span>{{getPercent(theory_overall_attended,theory_overall_total)}}%</span>
                  </div>
                  <round-progress
                  max=theory_overall_total
                  current=theory_overall_attended
                  color="{{ getColor(theory_overall_attended,theory_overall_total) }}"
                  bgcolor="#eaeaea"
                  radius="20"
                  stroke="3"
                  rounded="true"
                  clockwise="true"
                  responsive="responsive"
                  duration="800"
                  animation="easeInOutQuart"
                  animation-delay="0"
                  ></round-progress>
                </div>
              </center>
            </div>
          </div>
        </caption>
        <thead>
          <td><b>#</b></td>
          <td><b>Subject</b></td>
          <td><center><b>Attended</b></center></td>
          <td><center><b>Total</b></center></td>
        </thead>
        <tbody>
          <tr ng-repeat="th in theory_overall">
            <td>{{$index+1}}</td>
            <td><span data-toggle="tooltip" title={{th.details[0].name[0]}} data-placement="right">{{th.details[0].abv[0]}}</span></td>
            <td><center>{{th.attended}}</center></td>
            <td><center>{{th.total}}</center></td>
          </tr>
        </tbody>
      </table>
      <center ng-show="progress"><div class="mdl-spinner mdl-js-spinner is-active"></div></center>
    </div>

    <div class="col-md-6">
      <table class="table">
        <caption>
          <div class="row">
            <div class="col-xs-10">
              <div style="margin-top:2%">
                <strong>Lab Attendance <span ng-show="lab_overall">({{lab_overall_attended}}/{{lab_overall_total}})</span></strong>
              </div>
            </div>
            <div class="col-xs-2">
              <center ng-show="lab_overall">
                <div class="progressbar-wrapper" style="font-size:11px;">
                  <div class="small-percent progressbar-percent ng-cloak">
                    <span>{{getPercent(lab_overall_attended, lab_overall_total)}}%</span>
                  </div>
                  <round-progress
                  max=lab_overall_total
                  current=lab_overall_attended
                  color="{{ getColor(lab_overall_attended, lab_overall_total) }}"
                  bgcolor="#eaeaea"
                  radius="20"
                  stroke="3"
                  rounded="true"
                  clockwise="true"
                  responsive="responsive"
                  duration="800"
                  animation="easeInOutQuart"
                  animation-delay="0"
                  ></round-progress>
                </div>
              </center>
            </div>
          </div>
        </caption>
        <thead>
          <td><b>#</b></td>
          <td><b>Subject</b></td>
          <td><center><b>Attended</b></center></td>
          <td><center><b>Total</b></center></td>
        </thead>
        <tbody>
          <tr ng-repeat="th in lab_overall">
            <td>{{$index+1}}</td>
            <td><span data-toggle="tooltip" title={{th.details[0].name[0]}} data-placement="right">{{th.details[0].abv[0]}}</span></td>
            <td><center>{{th.attended}}</center></td>
            <td><center>{{th.total}}</center></td>
          </tr>
        </tbody>
      </table>
      <center ng-show="progress"><div class="mdl-spinner mdl-js-spinner is-active"></div></center>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(window).ready(function(){
    $('.datepicker').datepicker({
      todayBtn: 'linked',
      orientation: 'bottom right',
      autoclose: true,
      format:"dd/mm/yyyy",
      daysOfWeekDisabled:"0,6"
    });

    $("body").tooltip({selector:'[data-toggle="tooltip"]'});
  });
</script>
